@CHARSET "UTF-8";

html, body {
    color: rgb(34,34,34);
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", sans-serif;
    font-weight: normal;
     word-wrap: break-word;
    text-align: left !important;
    background: white !important;
    margin: 0;
/*     word-break: break-all; */
}

a {
	text-decoration: none !important;
    color: #666666 !important;
}

a:hover {
    text-decoration: underline;
}

h1 a{
    color: black !important;
}

h1 a:hover{
    text-decoration: none;
}

#sp-main-container {
    /*max-width: 700px;*/
    width: 750px;
    margin: auto;
}

#sp-main {
    height: 100%;
}

.sp-main-iframe {
    float: left;
    display: inline;
    height: 100%;
    border: 0;
}

#sp-side-bar {
    width: 200px;
    background-color: red;
    /*max-width: 200px;*/
}

#sp-post-list {
    width: 300px;
    background-color: black;
}

#sp-post-content {
    width: calc(100% - (500px));
    width: -moz-calc(100% - (500px));
    width: -webkit-calc(100% - (500px));
    background-color: green;
}



#sp-sidebar-div li {
	list-style:none;
    margin: 0;
}