#super-pocket-bg {
    border-color: rgba(255, 255, 255, 0.74902);
    border-style: solid;
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: 2147483646;
    /*overflow: hidden;*/
}

#super-pocket-bg #super-pocket-container {
    height: 100%;
    width: 100%;
    border: 1px solid rgb(158, 158, 158);
    -webkit-box-shadow: rgba(0, 0, 0, 0.45098) 0px 2px 12px 0px;
}


/*剪藏工具面板的那个iframe*/
#super-pocket-panel {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 2147483647;
    width: 300px;
    height: 500px;
    border: 0;
    /*border: 1px solid black;*/
}

#super-pocket-loading {
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0px;
    left: 0px;
    border-radius: 6px;
    z-index: 2147483646;
}


#super-pocket-sign-panel {
    width: 300px;
    height: 300px;
    /*background-color: #04477c;*/
    background-color: #143325;
    text-align: center;
    padding-top: 10px;
    /*margin: -5px -5px -25px -5px;*/
    border-radius: 4px;
    /*padding: 10px 20px;*/
}

#super-pocket-sign-panel #logo {
    margin: auto;
    width: 80%;
    height: 65px;
    text-align: left;
    /*background-color: red;*/
}

#super-pocket-sign-panel #logo img {
    width: 180px;
    height: 49px;
}

.input-container input {
    /*margin-top: 10px;*/
    width: 100%;
    height: 36px;
    font-size: 12px;
    /*background-color: rgb(249, 255, 196);*/
    /*background-color: #8ec2f5;*/
    border-radius: 4px;
    outline: none;
    padding-left: 10px;
    border: 1px solid transparent;
    box-sizing: border-box;         /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box;    /* For Firefox                          */
    -webkit-box-sizing: border-box; /* For Safari                           */
}

#super-pocket-sign-panel .input-container {
    height: 54px;
    width: 80%;
    margin: auto;
    text-align: left;
}

.input-container p {
    color: white;
    margin-top: 2px;
    font-size: 6px;
}

#super-pocket-sign-panel button, #super-pocket-panel-container button{
    color: white;
    border: 0;
    border-radius: 4px;
    width: 80%;
    height: 36px;
    font-size: 16px;
}

#signin-button, button.dark {
    background-color: rgb(38, 165, 99);
}

#signup-button {
    background-color: rgb(222, 231, 201);
}





/*剪藏工具面板的轮廓*/
#super-pocket-panel-main {
    width: 100%;
    background-color: #143325;
    border: 2px solid #cccccc;
    /*overflow: hidden;*/
}

/*剪藏工具面板中的最主要的那个div*/
#super-pocket-panel-container {
    margin: auto;
    width: 80%;
    height: 100%;
    background-color: #143325;
    color: white;
    /*padding-top: 10px;*/
}

#super-pocket-panel-title {
    margin-top: 15px;
    width: 100%;
    /*height: 60px;*/
    font-size: 15px;
    /*font-family: "Helvetica", "Arial", "Lucida Grande", sans-serif;*/
    /*font-family: CaeciliaItalic, Times, serif;*/
    /*text-shadow: 0px 1px 1px;*/
    line-height: 21px;
    color: #d4d4d4;
    border: none;
    outline: none;
    resize: none;
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: hidden;
}

#super-pocket-panel-container {
    font-family: "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
}

#super-pocket-panel-container button {
    width: 100%;
}

p.separate-line {
    /*font-family: "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;*/
    position: relative;
    left: 29px;
    font-size: 14px;
    /*text-shadow: 0px 1px 1px;*/
    color: rgb(222, 231, 201);
    font-weight: 100;
    display: inline-block;
}

p.separate-line:before {
    left: -29px;
    width: 24px;
}

p.separate-line:after {
    left: calc(100% + 5px);
    width: -webkit-calc(215px - 100% - 24px);
}

p.separate-line:before, p.separate-line::after{
    content: '';
    position: absolute;
    top: 47%;
    border-top: rgb(222, 231, 201) 1px solid;
    /*border-top: 1px solid #143022;*/
    /*border-bottom: 1px solid #FFFFFF;*/

    /*height: 10px;*/
}

#recommend-content-labels {
    overflow-y: auto;
    height: 200px;
    font-size: 15px;
    line-height: 1.5;
    /*padding: 5px;*/
}

#super-pocket-panel-close-button {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 12px;
    height: 12px;
}

/*#super-pocket-panel-container p {*/
    /*color: rgba(255,255,255,0.5);*/
    /*font-weight: 100;*/
/*}*/