#super-pocket-bg {
    border-color: rgba(255, 255, 255, 0.74902);
    border-style: solid;
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: 2147483646;
    /*overflow: hidden;*/
}

#super-pocket-bg #super-pocket-container {
    height: 100%;
    width: 100%;
    border: 1px solid rgb(158, 158, 158);
    -webkit-box-shadow: rgba(0, 0, 0, 0.45098) 0px 2px 12px 0px;
}


/*剪藏工具面板的那个iframe*/
#super-pocket-panel {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 2147483647;
    width: 300px;
    height: 500px;
    border: 0;
    /*border: 1px solid black;*/
}

/*剪藏工具面板的轮廓*/
#super-pocket-panel-main {
    width: 100%;
    background-color: #333333;
    border: 2px solid #cccccc;
    /*overflow: hidden;*/
}

/*剪藏工具面板中的最主要的那个div*/
#super-pocket-panel-container {
    margin: auto;
    width: 80%;
    height: 100%;
    background-color: #333333;
    color: white;
    /*padding-top: 10px;*/
}

#super-pocket-panel-container #content-title {
    /*margin: auto;*/
    /*margin-top: 120px;*/
    margin-top: 10px;
    width: 100%;
    /*height: 60px;*/
    font-size: 15px;
    /*font-family: CaeciliaItalic, Times, serif;*/
    text-shadow: 0px 1px 2px;
    line-height: 21px;
    color: white;
    border: none;
    outline: none;
    resize: none;
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: hidden;
    /*background-color: #333333;*/
}


#super-pocket-panel-container p {
    color: rgba(255,255,255,0.5);
    font-weight: 100;
}

#super-pocket-sign-panel {
    width: 300px;
    height: 400px;
    background-color: black;
    text-align: center;
    padding-top: 10px;
    /*margin: -5px -5px -25px -5px;*/
    border-radius: 4px;
    /*padding: 10px 20px;*/
}

#super-pocket-sign-panel #logo {
    margin: auto;
    width: 80%;
    height: 50px;
    background-color: red;
}

#super-pocket-sign-panel input {
    margin-top: 10px;
    width: 80%;
    height: 36px;
    font-size: 12px;
    border-radius: 4px;
    outline: none;
    padding-left: 10px;
    border: 1px solid black;
    box-sizing: border-box;         /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box;    /* For Firefox                          */
    -webkit-box-sizing: border-box; /* For Safari                           */
}